/*styles for all three pages*/

body {
    background-color: #eee2dc;
    color: #123c69;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
}

a {
    text-decoration: none;
    color: darkslategrey;
    font-weight: 700;
}

a:hover {
    color: lightskyblue;
}

h1 {
    color: #ac3b61;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.navbar {
    background-color: #bab2b5;
    padding: 5px;
    font-size: 20px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

/*Created the container to have a uniform centering to the page and to make it dynamic*/
.container {
    width: 80%;
    margin: auto;
    padding: 10px;
}
/*Created this box for more a text-heavy div*/
.box-1 {
    color: #123c69;
    font-size: 18px;
    padding: 5x;
}
/*This box is just to center text onto the page*/
.box-2 {
    color: #123c69;
    font-size: 18px;
    text-align: center;
}

/*styling for the single images*/

#single-image {
    display: flex;
    justify-content: center; 
}

/*styling for the multiple squirrel images in Beginning page*/
#squirrel-images {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

/*Utilizing flexbox to display the li horizontally*/
.container ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}

/******Story CSS Styling******/

/*styling for the table*/
.container2 {
    display: flex;
    justify-content: space-evenly;
}

.table {
    display: flex;
    justify-content: center;
    color: rgba(100, 13, 13, 0.63);
    
}

.table th {
    font-size: 18px;
    color: black;
}

.table tr:nth-child(even) {
    background-color: #bab2b5;
}

.table th, td {
    padding: 6px;
    border-bottom: 1px dotted black;
}

.table tr:hover {
    background-color: #f18181;
    color: darkblue;
}


/******AddtotheStory CSS Styling******/
/*styling for favorite squirrel form*/
.fave-squirrel {
    display: flex;
    justify-content: center;
}

.fave-squirrel p {
    font-size: 18px;
    padding: 5px;
}

.fave-squirrel input[type="button"] {
    background-color: #ac3b61;
    font-family: 'Times New Roman', Times, serif;
    color:#eee2dc;
    font-size: 18px;
    padding: 5px;
    border-radius: 2em;
    border-width: 1px;
    border-color: darkgrey;
}

.fave-squirrel input[type="button"]:hover {
    background-color: #edc7b7;
    color: #000;
}

/*styling for Nutty Newsletter*/
.news-signup {
    padding: 20px;
    text-align: center;
}

.news-signup .form-group {
    padding-bottom: 15px ;
}

.form-group input[type="text"]  {
    padding: 8px;
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ac3b61;
}

.form-group input[type="submit"] {
    background-color: #ac3b61;
    font-family: 'Times New Roman', Times, serif;
    color:#eee2dc;
    font-size: 18px;
    padding: 5px;
    border-radius: 2em;
    border-width: 1px;
    border-color: darkgrey;
}

.form-group input[type="submit"]:hover {
    background-color: #edc7b7;
    color:#000;
}
